<header class="flex bg-[#0E0E0E] min-w-full px-8 py-4 items-center justify-between">
  <nav class="flex">
    <div class="flex items-center pr-6">
      <img class="min-w-[18px] min-h-[18px]" src="assets/icons/dashboard-icon.svg" alt="">
    </div>
    <div class="flex relative bg-[#000000] px-10 py-2 border border-b-2 border-[#484847]">
      <img class="absolute left-[13.75px] top-1/2 -translate-y-1/2 min-w-[10.5px] min-h-[10.2px]"
        src="assets/icons/search-icon.svg" alt="">
      <input class="placeholder:text-[#6B7280] placeholder:text-[12px] text-[12px]" type="text"
        placeholder="PESQUISAR NO SISTEMA">
    </div>
  </nav>
  <div class="flex items-center">
    <div class="flex mr-2">
      <!-- Notifications and Help -->
      <div class="mr-4">
        <img class="min-w-[16px] min-h-[20px]" src="assets/icons/notifications-icon.svg" alt="">
      </div>
      <div class="pr-6 border-r border-[#484847]">
        <img class="min-w-[20px] min-h-[20px]" src="assets/icons/help-icon.svg" alt="">
      </div>
    </div>
    <div class="flex items-center">
      <!-- Profile -->
      <div class="flex flex-col justify-center items-end mr-3 min-w-25">
        <span class="font-bold text-[12px] leading-[12px] tracking-[-0.35px] text-[#00E5FF]">Nome</span>
        <span class="text-[10.4px] leading-[20px] tracking-[0.52px] text-[#ADAAAA]">Cargo</span>
      </div>
      <div>
        <img class="w-[30px] h-[30px] rounded-sm" src="assets/icons/user-profile.svg" alt="">
      </div>
    </div>
  </div>
</header>