# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=senha_segura_123
DB_NAME=lotepim_db

# Configurações de Autenticação
JWT_SECRET=6pz)K3bb58ax*]dC2]3Z

# Configurações da API (Opcional)
PORT=3000
NODE_ENV=development

# Credenciais para o Seed Inicial
SEED_USER_EMAIL=gestor@lotepim.com
SEED_USER_PASSWORD=senha123

# Configuração de Produção (Demo)
TEMPO_PRODUCAO_MINUTOS=2
