# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=sistema_lotes_db

# Configurações de Autenticação
# Gere uma string aleatória e segura para o JWT_SECRET
JWT_SECRET=sua_chave_secreta_aqui

# Configurações da API
PORT=3000
NODE_ENV=development

# Credenciais para o Seed Inicial (Valores padrão para os testes do Postman)
SEED_USER_EMAIL=gestor@lotepim.com
SEED_USER_PASSWORD=senha123
