<div class="flex flex-col md:flex-row min-h-screen bg-[#0E0E0E]">
  <app-sidebar
    class="no-print order-last fixed bottom-0 w-full z-50 bg-[#0E0E0E] md:order-0 md:sticky md:top-0 md:block md:z-40 md:w-auto md:h-screen md:bg-transparent"></app-sidebar>
  <div class="flex flex-col flex-1 min-w-0 min-h-screen pb-20 bg-[#0E0E0E] md:pb-0">
    <app-header class="no-print sticky top-0 z-50 block"></app-header>
    <main class="flex-1 bg-[#0E0E0E] p-4 md:p-8">
      <router-outlet></router-outlet>
    </main>
    <app-footer class="no-print"></app-footer>
  </div>
</div>