<aside class="flex flex-col min-h-screen bg-[#0E0E0E]">
  <div class="py-8 px-6">
    <h3 class="text-2xl font-bold leading-8 tracking-[-1.2px] text-[#00E5FF]">LOTE PIM</h3>
    <span class="text-[10.4px] leading-[15.6px] tracking-[0.52px] text-[#ADAAAA]">VERSION 1.0.0</span>
  </div>
  <nav class="p-4 mb-auto">
    <div class="flex px-4 py-3">
      <img class="min-w-[18px] min-h-[18px] mr-4" src="assets/icons/dashboard-icon.svg" alt="">
      <span class="font-bold text-[14px] leading-[20px] tracking-[1.4px] text-[#00E5FF]">DASHBOARD</span>
    </div>
    <div class="flex px-4 py-3">
      <img class="min-w-[18px] min-h-[18px] mr-4" src="assets/icons/lote-icon.svg" alt="">
      <span class="text-[14px] leading-[20px] tracking-[1.4px] text-[#ADAAAA]">LOTE</span>
    </div>
    <div class="flex px-4 py-3">
      <img class="min-w-[18px] min-h-[18px] mr-4" src="assets/icons/rastreabilidade-icon.svg" alt="">
      <span class="text-[14px] leading-[20px] tracking-[1.4px] text-[#ADAAAA]">RASTREABILIDADE</span>
    </div>
    <div class="flex px-4 py-3">
      <img class="min-w-[18px] min-h-[18px] mr-4" src="assets/icons/settings-icon.svg" alt="">
      <span class="text-[14px] leading-[20px] tracking-[1.4px] text-[#ADAAAA]">CONFIGURAÇÕES</span>
    </div>
  </nav>
  <div class="p-6">
    <div class="flex px-4 py-3">
      <img class="pr-3 min-w-[18px] min-h-[18px]" src="assets/icons/logout-icon.svg" alt="">
      <span class="text-[12px] leading-[18px] tracking-[0.6px] text-[#ADAAAA]">SAIR</span>
    </div>
  </div>
</aside>